[submodule "amf"]
	path = amf
	url = https://github.com/gholtzap/amf.git
[submodule "udm"]
	path = udm
	url = https://github.com/gholtzap/udm
[submodule "nrf"]
	path = nrf
	url = https://github.com/gholtzap/nrf.git
[submodule "nssf"]
	path = nssf
	url = https://github.com/gholtzap/nssf
[submodule "ausf"]
	path = ausf
	url = https://github.com/gholtzap/ausf
